@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    &::-webkit-scrollbar {
        width: .8em;
        background-color: #080903;
        border-radius: 1em;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5em;
        background-color: #D1C87D;
        
    }
}

.containerModalAddCard{
    height: 100vh;
    width: 100vw;


    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;

    background:rgba(71, 31, 13, 0.8);

    @include flexbox();

    .boxModalAddCard{
        height: 60vh;
        width: 50vw;
      

        position: relative;

        border-radius: 1em;
    	background-color: #45413E;
        -webkit-text-stroke: 0;
        color: white;
        
        padding: .5em 2.2em;

        margin: 0 20px;

        @include flexbox();
        flex-direction: column;
        justify-content: space-around;
        
       
        h3,h4,h5,p{
            margin: 0;
        }

        .btnExit{
            cursor: pointer;
            position: absolute;
            right: 1vw;
            top: 1vh;
            
            
        }

        
        
        .text{
            align-self: flex-start;
            font-size: 1em;
            text-shadow: none;
            font-family: "Hansip";  
        }

        .cards{
            height: 35vh;
            width: 100%;
            padding: 0.4em 0;

            overflow: hidden;
            overflow-y: scroll;

            display: grid;
            grid-auto-rows: auto;
            grid-template-columns: repeat(4, minmax(5em, 1fr ));
            gap: 1em;

            .card{
                cursor: pointer;
                background-color: #2A2927;
                position: relative;
                padding: 1em;
                @include flexbox();
                flex-direction: column;
                width: 100%;
                


                img{
                    width: 100%;
                    pointer-events: none;

                }
            }
            .select{
                border: 3px solid white;
            }
        }

        .btnConfirm{
            @include flexbox(); 
        }

    }
    
}

.boxModalUnlock{
    height: 50vh;
        width: 35vw;
      

        position: relative;

        border-radius: 1em;
    	background-color: #45413E;
        -webkit-text-stroke: 0;
        color: white;
        
        padding: 1rem 7rem;

        margin: 0 20px;

        @include flexbox();
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;


        .btnExit{
            cursor: pointer;
            position: absolute;
            right: 1vw;
            top: 1vh;
            
            
        }
        .tittle{
            font-weight: 900;
            align-self: center;
        }
        .btns{
            width: 100%;
            @include flexbox();
            gap: 2em;
        }
}


