html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}
p {
  color: white;
  font-size: 1.6rem;
  padding: 0 0;
  margin: 0 0;
}
@media (max-width: 768px) {
  p {
    font-size: 1.4rem;
  }
}
h3 {
  color: white;
}
h4 {
  color: white;
}
::-webkit-scrollbar {
  display: none;
}
/* utilidades */
.button {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  background-color: rgb(12, 12, 12);
  opacity: 67%;
  padding: 0.6rem 4rem;
  transition: all 0.3s;
  border: none;
  margin: 0.9rem 0;
}

.button:hover {
  color: white;
  background-color: rgb(153, 152, 152);
  opacity: 100%;
}
.button__icono {
  fill: white;
  width: 4rem;
  height: 3.4rem;
  padding: 0.2rem 0;
  background-color: black;
  opacity: 70%;
  transition: opacity 0.4s ease-in-out;
}
.button__icono:hover {
  opacity: 100%;
}
@media (max-width: 1220px) {
  .button {
    font-size: 1.2rem;
  }
  .button__icono {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (max-width: 1060px) {
  .button {
    font-size: 1.7rem;
  }
  .button__icono {
    width: 3.7rem;
    height: 3.7rem;
  }
}

.btn-mediam {
  font-size: 1.4rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 0.4rem 5rem;
  background: rgb(0, 0, 0, 0.6);
  color: white;
  font-weight: 500;
  transition: background 0.3s ease-in-out;
}
.btn-mediam:hover {
  background: rgba(255, 255, 255, 0.4);
}

.container__title {
  padding-top: 8rem;
}
.container__title-title {
  padding-left: 2rem;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.container__title-subtitle {
  color: white;
  padding-left: 2rem;
  text-transform: uppercase;
  padding-bottom: 3rem;
}
/* fin utilidades */
.container__fondo {
  background-image: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.404) 32%,
      rgba(42, 42, 43, 0.404) 56%,
      rgba(44, 43, 43, 0.438) 100%
    ),
    url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

.navegation__secret {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 0;
}
@media (max-width: 768px) {
  .navegation__secret {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}
.logo__start {
  width: 18rem;
  object-fit: cover;
}
.menu {
  display: flex;
  gap: 2rem;
}
.menu__link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgb(46, 46, 46);
  opacity: 70%;
  padding: 0.7rem 4rem;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .menu__link {
    font-size: 1.2rem;
    padding: 0.5rem 3rem;
  }
}

.menu__link:hover {
  color: white;
  background-color: rgb(117, 117, 117);
  opacity: 100%;
}

.title__secret {
  font-size: 4.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

/* secret code  */
.secretcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6.5rem;
}
.secretcode__title {
  letter-spacing: 0.2rem;
  font-size: 1.7rem;
}

.secretcode__input {
  width: 30rem;
  text-align: center;
  padding: 0.7rem 0;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.2rem;
  border: none;
  opacity: 55%;
  border-radius: 0.7rem;
}
.container {
  min-height: 80vh;
}
@media (max-width: 768px) {
  .container {
    min-height: 70vh;
  }
}
/* FOOTER */

.container__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
  padding-top: 1rem;
}
@media (max-width: 768px) {
  .container__footer {
    flex-direction: column;
    gap: 1rem;
  }
}

.footer__navegation {
  display: flex;
  padding: 0;
  gap: 2rem;
  margin: 0;
}
.footer__navegation__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
  padding: 0;
  margin: 0;
  opacity: 50%;
  transition: opacity 0.3s ease-in-out;
}
.footer__navegation__link:hover {
  opacity: 100%;
  color: white;
}
@media (max-width: 768px) {
  .footer__navegation__link {
    font-size: 1.1rem;
  }
}
.footer__social {
  display: flex;
  gap: 0.5rem;
}
.footer__social__link {
  width: 3.2rem;
  fill: white;
  transition: opacity 0.3s ease-in-out;
  opacity: 50%;
  cursor: pointer;
}
.footer__social__link:hover {
  opacity: 100%;
}
@media (max-width: 768px) {
  .footer__social__link {
    width: 3.2rem;
  }
}
/* //////////NAV LAYOUT */
header {
  position: fixed;
  background: transparent;
  width: 100%;
  padding: 2.9rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

header .icono_bar{
  width: 3rem;
  height: 3rem;
  fill: white;
  display: none;
  cursor: pointer;
}
.container__layout_img {
  flex: 1;
}
.layout__logo {
  width: 180px;
  height: 40px;
  object-fit: cover;
}

.container__menu__layout {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.container__menu__layout__list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}
.container__menu__layout__list__link {
  margin-left: 0.5rem;
}

.container__menu__layout button {
  display: none;
}

.layout__options {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}
.layout__options__link {
  margin: 0 0.8rem;
}
.layout__options__link__icono {
  font-size: 5rem;
  fill: white;
  width: 4rem;
  height: 3.4rem;
  padding: 0.2rem 0;
  background-color: black;
  opacity: 70%;
  transition: opacity 0.4s ease-in-out;
}
.layout__options__link__icono:hover {
  opacity: 100%;
}

/* MENU RESPONSIVE */
@media (max-width: 1060px) {
  .container__menu__layout {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    gap: 3.6rem;
    background: rgb(95, 95, 95);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    z-index: 999 !important;
  }
  .abierto {
    transform: translateX(0%);
  }
  .container__menu__layout__list {
    flex-direction: column;
    gap: 3.6rem;
  }
  .layout__options {
    flex-direction: column;
    gap: 2.5rem;
  }
  .container__menu__layout button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 3.2rem;
    width: 3rem;
    height: 3rem;
    border: none;
    outline: none;
    background: transparent;
    fill: white;
    z-index: 9999;
  }

  header .icono_bar{
    display: block;
    cursor: pointer;
  }

  button .icono_bar{
    display: none;
  }
}

/* ////////////////////////////////////////////css PROD */
/*  ///////////PROD */
.background__prod {
  background-image: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.404) 32%,
      rgba(42, 42, 43, 0.404) 56%,
      rgba(44, 43, 43, 0.438) 100%
    ),
    url("../img/background-prod.png");
  /* background-color: transparent; */
  height: 100vh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1 !important;
}

.container__prod {
  height: 95vh;
  padding-top: 9rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}
@media (max-width: 768px) {
  .container__prod {
    height: 89vh;
    overflow: hidden;
    overflow-y: scroll;
  }
}
.prod__title {
  font-size: 5rem !important;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 2rem;
}
@media (max-width: 768px) {
  .prod__title {
    font-size: 3rem !important;
  }
}
.prod__subtitle {
  font-size: 2.4rem;
  padding-left: 6.2rem;
}
.prod__subtitle span {
  font-size: 1.4rem;
  margin-left: 1.5rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  .prod__subtitle {
    font-size: 2rem;
  }
  .prod__subtitle span {
    font-size: 1rem;
  }
}
.tabla_prod {
  background-color: #0d000d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  color: white !important;
  width: 100%;
  max-width: 100%;
  border: 9.5px solid transparent;
  position: relative;
  margin-top: 6rem;
  height: 460px;
  max-height: 460px;
}

.tabla_prod thead {
  text-align: center;
}
.tabla_prod thead td {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  padding-bottom: 0.6rem;
}
.tabla_prod thead tr {
  border-bottom: 1px solid white;
}
.tabla_prod td {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.tabla_prod tbody tr:not(:last-child) {
  border-bottom: 1px solid white;
}
.tabla_prod tbody td {
  padding: 0.45rem 0;
}

.container__cards {
  max-width: 69.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
  max-height: 250px;
  overflow-y: scroll;
  z-index: 100;
}
.container__cards_mission {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
  max-height: 320px;
  overflow-y: scroll;
}

.card__prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 219px;
  background: rgba(10, 10, 10, 0.5);
  position: relative;
  transition: border 0.1s ease-in-out;
}

.card__prod span {
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  background: rgb(254, 175, 0);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.4rem;
  z-index: 2;
}
.card__prod:hover {
  border: 4px solid rgba(245, 241, 241, 0.87);
}
.card__prod img {
  height: 19rem;
  object-fit: cover;
  padding: 1rem;
}
.card__prod p {
  color: white;
}

.btn_prod {
  text-transform: uppercase;
  border: none;
  outline: none;
  background: rgba(10, 10, 10, 0.5);
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem 1.8rem;
  transition: background 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .btn_prod {
    font-size: 1rem;
  }
}
.btn_prod:hover {
  background: rgba(155, 153, 153, 0.5);
  color: rgba(255, 255, 255, 1);
}

.container__locked {
  margin-top: 1rem;
  max-width: 87.1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
  max-height: 250px;
  overflow-y: scroll;
}

.card__prod__locked {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 219px;
  background: rgba(10, 10, 10, 0.5);
  position: relative;
  transition: border 0.1s ease-in-out;
}
.card__prod__locked:hover {
  border: 4px solid rgba(245, 241, 241, 0.87);
}

.card__prod__locked img {
  width: 8rem;
}
.card__prod__locked span {
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  background: rgb(221, 221, 221);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.4rem;
}

.table__layout {
  color: white;
}
.table__layout td {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 0 1rem;
}
.table__layout__blend {
  color: white;
  text-align: center;
  margin-right: 2.8rem;
}
.table__layout__blend td {
  font-size: 1.6rem;

  text-transform: uppercase;
  padding: 0 0.4rem;
}

.progress-bar__production {
  max-width: 80%;
  position: relative;
  height: 2.8rem;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 auto;
}
.progress-bar__production::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 100%;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5) 17px,
    transparent 0,
    transparent 25px
  );
}

.progress-bar__simple {
  max-width: 35%;
  position: relative;
  height: 0.3rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-left: 1rem;
}
.progress-bar__simple::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 100%;
  background: white;
}

.buttones__tabla {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
/* ///////////////////////////////////////////////BLEND */
.background__blend {
  background-image: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.404) 32%,
      rgba(42, 42, 43, 0.404) 56%,
      rgba(44, 43, 43, 0.438) 100%
    ),
    url("../img/bg-blend.jpg");
  /* background-color: transparent; */
  height: 100vh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1 !important;
}
.card__blend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 219px;
  background: rgba(10, 10, 10, 0.5);
  position: relative;
  transition: border 0.1s ease-in-out;
}

.card__blend:hover {
  border: 4px solid rgba(245, 241, 241, 0.87);
}

.card__blend img {
  height: 19rem;
  object-fit: cover;
  padding: 1rem;
}

.card__blend span {
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  background: rgb(254, 175, 0);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.4rem;
  z-index: 2;
}

.container__cards__blend {
  max-width: 122rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 0.5rem;
  height: 40rem;
  overflow-y: scroll;
}
.container__cards__blend::-webkit-scrollbar {
  display: block !important;
  height: 10px;
  width: 10px;
  background-color: rgb(18, 2, 10);
}
.container__cards__blend::-webkit-scrollbar-thumb {
  background-color: rgb(76, 55, 67);
  border-radius: 4px;
}
.score-blend {
  font-size: 4.8rem !important;
  margin-top: 9rem;
}

.score__content {
  width: 52%;
  margin: 0 auto;
  padding: 0.6rem;
  background-color: rgb(31, 30, 30);
}

@media (max-width: 1420px) {
  .score__content {
    width: 65%;
  }
}
@media (max-width: 1165px) {
  .score__content {
    width: 85%;
  }
}
@media (max-width: 924px) {
  .score__content {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .score__content {
    width: 35%;
  }
}

.score__card {
  width: 15rem;
  height: 13rem;
  border: 1px solid gray;
  border-radius: 0.9rem;
}

.score__card__header {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: start;
  align-items: center;
  /* padding: 0.3rem 0; */
}
.score__card__header p {
  margin: 0;
  padding: 0;
  height: 30px;
  font-size: 1.4rem;
  line-height: 2;
}
.score__card__header img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-right: 1px solid gray;
}
.score__card__body {
  height: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  text-transform: uppercase;
}
.score__card__body p {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 3rem;
  /* border: 1px solid red; */
  font-weight: 700;
  color: white;
}
.score__card__body span {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 1.2rem;
  /* border: 1px solid red; */
  font-weight: 500;
  color: gray;
}
.score__content__agrupamiento {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 768px) {
  .score__content__agrupamiento {
    flex-direction: column-reverse;
  }
}

.container__blend {
  height: 95vh;
  padding-top: 9rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

@media (max-width: 768px) {
  .container__blend {
    height: 89vh;
    overflow: hidden;
    overflow-y: scroll;
  }
}
.score-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.2rem;
}

.cara__score {
  overflow-y: scroll;
  height: 600px;
}

.score__container-ultimocard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 30, 30);
  width: 30%;
  margin: 0 auto;
}

.personaje__img {
  width: 25rem;
  margin: 0 auto;
  /*  margin-right: 2rem; */
}
/* ////////////////////////////////////////SEASON */

.background__season {
  background-image: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.404) 32%,
      rgba(42, 42, 43, 0.404) 56%,
      rgba(44, 43, 43, 0.438) 100%
    ),
    url("../img/season/background.jpg");
  /* background-color: transparent; */
  height: 100vh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1 !important;
}
.container__season {
  height: 95vh;
  padding-top: 2rem;
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}
@media (max-width: 768px) {
  .container__season {
    height: 89vh;
    overflow: hidden;
    overflow-y: scroll;
  }
}

.season__images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-items: center;
  max-height: 450px;
  height: 450px;
  overflow-y: scroll;
}
.season__images img {
  height: 420px;
  max-height: 420px;
  object-fit: cover;
}
.confirm-mision {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: end;
}
.confirm-mision h3 {
  letter-spacing: 1px;
}
.confirm-mision button {
  text-transform: uppercase;
  padding: 0.5rem 4.2rem;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: rgb(0, 201, 71);
}

.container__buttons {
  width: 130px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container__buttons button {
  display: block;
  font-size: 1.4rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 0.8rem 3rem;
  background: rgb(0, 0, 0, 0.6);
  color: white;
  font-weight: 500;
  transition: background 0.3s ease-in-out;
  border-radius: 1rem;
}
.container__buttons button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.tabla_mision {
  background-color: #0d000d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  color: white !important;
  border: 9.5px solid transparent;
  width: 100%;
  max-width: 100%;

  margin: 0 auto;
}

.tabla_mision thead {
  text-align: center;
}
.tabla_mision thead td {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 0.4rem 1.5rem;
}

.tabla_mision thead tr {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.tabla_mision td {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.tabla_mision tbody tr:not(:last-child) {
  border-bottom: 1px solid white;
}
.tabla_mision tbody td {
  padding: 2rem 1rem;
  font-size: 1.8rem;
}
.tabla_mision tbody tr td input {
  background-color: white;
  border: none;
  outline: none;
  width: 4rem;
  border-radius: 0.3rem;
}
@media (max-width: 768px) {
  .tabla_mision thead td {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.4rem 0.5rem;
  }

  .tabla_mision tbody td {
    padding: 1rem 0rem;
    font-size: 1.2rem;
  }
}

.table__log {
  background-color: transparent;
  color: white !important;
  margin: 0 auto;
}

.table__log thead td {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 0rem 3rem;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}

.table__log tbody td {
  font-size: 1.4rem;
  text-align: center;
}

.container__header-table button {
  border: none;
  outline: none;
  background-color: rgb(205, 205, 205);
  text-transform: uppercase;
  padding: 0.1rem 3rem;
  font-weight: 700;
  color: rgb(118, 118, 118);
  margin: 0 0.5rem;
  letter-spacing: 1px;
  font-size: 1.7rem;
}
.container__header-table input {
  border: none;
  outline: none;
  background-color: rgb(205, 205, 205);
  text-transform: uppercase;
  padding: 0.3rem 5rem;
  font-weight: 700;
  border-radius: 0.6rem;
  color: rgb(118, 118, 118);
}
@media (max-width: 768px) {
  .container__header-table button {
    border: none;
    outline: none;
    background-color: rgb(205, 205, 205);
    text-transform: uppercase;
    padding: 0.1rem 1rem;
    font-weight: 700;
    color: rgb(118, 118, 118);
    margin: 0 0.5rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
  }
}

/*  ////////////////////////////gangs */

.background__gangs {
  background-image: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.404) 32%,
      rgba(42, 42, 43, 0.404) 56%,
      rgba(44, 43, 43, 0.438) 100%
    ),
    url("../img/gangs/background.jpg");
  /* background-color: transparent; */
  height: 100vh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1 !important;
}
.container__gangs {
  height: 95vh;
  padding-top: 2rem;
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}
@media (max-width: 768px) {
  .container__gangs {
    height: 89vh;
    overflow: hidden;
    overflow-y: scroll;
  }
}



.background__coffe {
  background-image: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.404) 32%,
      rgba(42, 42, 43, 0.404) 56%,
      rgba(44, 43, 43, 0.438) 100%
    ),
    url("../img/coffe/background.jpg");
  /* background-color: transparent; */
  height: 100vh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1 !important;
}

.container__coffe {
  height: 95vh;
  padding-top: 2rem;
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}
@media (max-width: 768px) {
  .container__coffe {
    height: 89vh;
    overflow: hidden;
    overflow-y: scroll;
  }
}
@media (max-width: 1200px) {
  .container__coffe {
    height: 89vh;
    overflow: hidden;
    overflow-y: scroll;
  }
}


.container__gangs-characters {
  display: flex;
  justify-content: center;
}
.container__make {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container__make button {
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
  padding: 0rem 5.6rem;
  border-radius: 0.5rem;
  color: white;
  background-color: rgb(78, 70, 67);
  transition: background-color 0.4s ease-in-out;
  margin-top: -4rem;
}
.container__make button:hover {
  background-color: rgb(126, 35, 27);
}
.container__make img {
  object-fit: cover;
  width: 35rem;
  max-width: 35rem;
}
@media (max-width: 768px) {
  .container__make button {
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0rem 3rem;
    border-radius: 0.5rem;
    color: white;
    background-color: rgb(78, 70, 67);
    transition: background-color 0.4s ease-in-out;
    margin-top: -4rem;
  }
  .container__make img {
    object-fit: cover;
    width: 15rem;
    max-width: 15rem;
  }
}

.card__gang {
  background: rgb(255, 207, 112);
  border-radius: 0.65rem;
  display: flex;
  justify-content: start;
  gap: 3rem;
  align-items: center;
  padding: 0.5rem 0;
  width: 35rem;
  max-width: 35rem;
  margin: 0 auto;
}
.yourgang {
  background-color: rgb(117, 145, 216);
  padding: 1rem 0;
}
.card__gang-yourgang {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5rem;
}
.card__gang-yourgang p {
  margin: 0;
  color: rgb(42, 58, 104);
  font-weight: 700;
  font-size: 2.4rem;
}

.card__gang-yourgang img {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
}

.card__gang span {
  color: rgb(179, 55, 6);
  font-size: 2.5rem;
  font-weight: 700;
  padding-left: 1.5rem;
  padding-top: 0.2rem;
}
.card__gang-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}
.card__gang-name p {
  margin: 0;
  color: rgb(225, 149, 62);
  font-weight: 700;
  text-transform: uppercase;
}
.card__gang-name img {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
}
.card__gang-name-punctuation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.card__gang-name-punctuation p {
  margin: 0;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
.container__yourgang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__yourgang button {
  border: none;
  outline: none;
  background: rgb(255, 88, 87);
  padding: 0.4rem 5.2rem;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

/*  //////////////////modals */
.modal-content{
  border-radius: 4rem !important;
}
.background__modal {
  background-image: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.404) 32%,
      rgba(42, 42, 43, 0.404) 56%,
      rgba(44, 43, 43, 0.438) 100%
    ),
    url("../img/gangs/background_modal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3rem !important;
  border: 3px solid rgb(124,92,44);
}
.body__modal {
  width: 100%;
  height: 60rem;
}

.body__modal-header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.body__modal-header h2{
color: rgb(252,163,96);
font-size: 3.2rem;
font-weight: 700;
text-transform: uppercase;
padding-top: 1.5rem;
letter-spacing: 1px;
}
.body__modal-header p{
color: whie;
font-size: 2rem;
font-weight: 600;
letter-spacing: 1px;
width: 55%;
text-align: center;
margin: 0;
}
.body__modal-input{
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}
.body__modal-input p{
  color: rgb(141,144,73);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 1rem 0;

}
.body__modal-input input{
  border: none;
  outline: none;
  background-color: rgb(15,10,5);
  color: white;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}
.body_modal__footer{
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.modal__footer-img{
  height: 15rem;
  width: 38rem;
  background-image: url(../img///gangs/market.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.modal__footer-buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.4rem;
}
.modal__footer-buttons button{
  border: none;
  outline: none;
  color: white;
  background-color: rgb(29,23,11);
  font-size: 1.9rem;
  font-weight: 600;
  border-radius: 0.8rem;
  padding: 0.7rem 6rem;
  margin: 0;
  transition: background-color 0.4s ease-in-out;
}
.modal__footer-buttons button:hover{
  background-color: rgb(124,92,44);
}

/* ///////////////////battle */

.background__battle {
  background-image: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.404) 72%,
      rgba(42, 42, 43, 0.404) 86%,
      rgba(44, 43, 43, 0.438) 100%
    ),
    url("../img/battle/background.jpg");
  /* background-color: transparent; */
  height: 100vh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1 !important;
}
.container__battle {
  height: 95vh;
  padding-top: 2rem;
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}
@media (max-width: 768px) {
  .container__battle {
    height: 89vh;
    overflow: hidden;
    overflow-y: scroll;
  }
}

.backgroud__card{
  height: 47rem;
  width: 30rem !important;
  background-image: url("../img//battle/card-bt.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.backgroud__card img{
 object-fit: cover;
 width: 24rem;
 margin: 0 auto;
 margin-top: 2rem;
}

.progress-bar__battle{
  position: relative;
  height: 3.5rem;
  background-color: rgb(0, 0, 0, 0.5);
  overflow: hidden;
  margin-top: -5rem;
  position: absolute;
  bottom: 4.5rem;
  left: 0;
  right: 0;
}
.progress-bar__battle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgb(125,49,0)
}
.progress-bar__battle::after {
  content: "100/100";
  position: absolute;
 color: white;
 font-size: 2rem;
 font-weight: 700;
 top: 0;
 letter-spacing: 1px;
 left: 100px;
}


.progress-bar__equip{
  position: relative;
  height: 2.5rem;
  background-color: rgb(67,64,67);
  overflow: hidden;
  width: 100%;
}
.progress-bar__equip-percentage{
  position: absolute;
  top: 0;
  left: 90px;
  color: white;
  font-size: 1.75rem;
}
.progress-bar__equip::before {
  content: "";
  position: absolute;
  width: 35%;
  height: 100%;
  background:rgb(138,101,150)
}

.container__vs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container__vs p{
 letter-spacing: 1px;
 font-size: 3rem;
 font-weight: 700;
}
.layout__battle{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
@media (max-width: 768px) { 
  .layout__battle{
    flex-direction: column;
  }
 }

 .battle__buttons{
  
  margin-top: 2rem;
 }
.battle__buttons button{
  border: none;
  outline: none;
  margin: 0;
  padding: 0.5rem 5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgb(104,101,102);
  font-size: 1.8rem;
  margin-right: 4rem;
  transition: background-color 0.5s ease-in-out;
}
.battle__buttons button:hover{
  background-color: rgb(118,79,55);
}

.container__info{
  display: flex;
  align-items: start;
  gap: 0.8rem;
}
.container__info p{
 color: rgb(97,122,136);
 font-weight: 600;
 margin: 0;
 margin-top: -0.6rem !important;
 letter-spacing: 1px;
}
.container__info__equip-number{
  color: white !important;
  font-weight: 500 !important;
  font-size: 2rem;
  margin: 0 !important;
}
.container__info img{
  object-fit: cover;
  width: 2.2rem;
  height: 2.2rem;
}
/* //////////////////////////////coffeee */
.container__coffe{
  background-color: rgb(46,17,19);
  border-radius: 3rem;
  padding: 2rem;
  width: 78%;
  margin: 0 auto;
}
.container__coffe-descripcion{
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(160,157,158);
  line-height: 2rem;
  background-color: rgb(19,6,7);
  padding: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}
.container__coffe-img{
 object-fit: cover;
 height: 22rem;
 width: 22rem;
 margin: 0 auto;
 margin-top: -10rem;
}

.container__coffe_amount{
  display: flex;
  width: 80%;
  border-radius: 2rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: rgb(11,11,11);
  margin-bottom: 1rem;
}

.container__coffe_amount p{
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.container__coffe_amount img{
  object-fit: cover;
  height: 4rem;
  width: 4rem;
}

.container__coffe_input{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.container__coffe_input input{
 border: none;
 outline: none;
 background-color: rgb(209,211,210);
 width: 15%;
 color: black;
 font-weight: 700;
 padding: 0.3rem;
 font-size: 1.3rem;
}
.container__coffe_input p{
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.center{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container__coffe-button{
  border: none;
  outline: none;
  background-color: rgb(0,201,69);
  font-size: 1.8rem;
  padding: 0.6rem 3rem;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  display: block;
  margin-top: 1rem;
  margin-bottom: -3.5rem;
}
/* ///////////////////////////////wallet */
.background__wallet{
  background-image: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.404) 32%,
      rgba(42, 42, 43, 0.404) 56%,
      rgba(44, 43, 43, 0.438) 100%
    ),
    url("../img/wallet/background.jpg");
  /* background-color: transparent; */
  height: 100vh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1 !important;
}
.container__wallet {
  height: 95vh;
  padding-top: 2rem;
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}
@media (max-width: 990px) {
  .container__wallet {
    height: 89vh;
    overflow: hidden;
    overflow-y: scroll;
  }
}


.fondoSelect{
  background-color: rgb(0, 0, 0, 0.7) !important;
  color: white !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.3rem !important;
  padding: 0.6rem 3.5rem !important;
  border: none !important;
  outline: none !important;
/*   text-align: center !important; */
} 
.fondoSelect option{
/*   text-align: center !important; */
} 

.container_selects{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.table__Wallet{
  color: white;
  margin: 0 auto;
}
.table__Wallet thead tr td{
  font-size: 2rem;
  padding: 0.5rem 8rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.table__Wallet thead tr {
 border-bottom: 0.2px solid white;
 border-top: 0.2px solid white;
}
.table__Wallet tbody tr td{
  text-align: center;
  font-size: 1.6rem;
  padding: 2rem 0;
}
.wallet-input{
  width: 20%;
}
.wallet-btn{
  border: none;
  outline: none;
  padding: 0 3rem;
background-color: rgb(0,201,71);
text-transform: uppercase;
letter-spacing: 1px;
font-size: 2rem;
color: white;
}
.wallet-transactions{
  font-size: 3.5rem !important;
  letter-spacing: 1px;
  margin-top: 4rem;
}

.title-layout{
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.title-layout p{
  letter-spacing: 1px;
  font-size: 2rem;
}

.wallet__card{
  background-color: rgb(46,33,25);
  padding: 2.5rem;
}
.wallet-perfil{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wallet-perfil img{
 width: 15rem;
 border-radius: 50%;
 border: 4px solid #ed4d4e;
 object-fit: cover;
 margin-bottom: 1rem;
}
.wallet-nickname{
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}
.wallet-user{
  font-weight: 700;
  font-size: 2.8rem;
  margin: 0;
  margin: 0;
  color: rgb(109,104,99);
}
.container__wallet__info{
  background-color: rgb(21,13,8);
  padding: 2rem 1rem;
}
.wallet-info{
  display: flex;
  fill: white;
  margin: 0;
  align-items: center;
  gap: 1rem;

}
.wallet-info p{
  font-weight: 700;
  font-size: 2.2rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #afa198;
}
.form-wallet{
  padding-left: 7rem;
}
.form-wallet label{
  color: white;
  font-size: 3rem;
  font-weight: 700;
}
.form-wallet input{
  color: white;
 background-color: rgb(21,13,8);
 border: none;
 outline: none;
 font-weight: 700;
 padding: 1.5rem;
 font-size: 2rem;
 letter-spacing: 1px;
}
.edit-account{
  font-size: 3.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}

.container-link{
  background-color: rgb(82,82,82);
  fill: white;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0 !important;
  padding: 0 !important;
  gap: 1rem;
  width: 38% !important;
  max-width: 38% !important;
  border-radius: 5px;
  cursor: pointer;
}
.container-link p{
  font-weight: 700;
  margin: 0;
  font-size: 2rem;
  letter-spacing: 1px;
  width: auto;
}
.container-link svg{
 background-color: rgb(43,40,41);
 padding: 0.5rem;
 border-radius: 5px 5px 5px 5px;
}

@media (max-width: 990px) {
  .container-link {
    flex-direction: column;
  }
  .container-link p{
    font-size: 1rem;
    flex-direction: column;
  }
}
.wallet-button{
  border: none;
  outline: none;
  background-color: rgb(0,133,73);
  font-size: 3rem;
  padding: 0rem 3rem;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

/* ///////////////STATS */

.background__stats {
  background-image: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.404) 32%,
      rgba(42, 42, 43, 0.404) 56%,
      rgba(44, 43, 43, 0.438) 100%
    ),
    url("../img/stats/background.jpg");
  /* background-color: transparent; */
  height: 100vh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1 !important;
}
.container__stats{
  height: 95vh;
  padding-top: 2rem;
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}
@media (max-width: 768px) {
  .container__stats {
    height: 89vh;
    overflow: hidden;
    overflow-y: scroll;
  }
}

.table__week{
  color: white;
  margin: 0 auto;
  overflow-y: auto;
  overflow-y: auto;
  height: 55rem;
  display: block;
  width: auto;
  padding: 0 3rem;
}

/* style={{
  display: "block",
  overflowX: "auto",
  overflowY: "auto",
  height: "400px",
}} */

.table__week thead tr td{
  font-size: 2rem;
  padding: 0.5rem 14rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.table__week thead tr {
 border-bottom: 0.2px solid white;
 border-top: 0.2px solid white;
}

.table__week tbody tr td{
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem 0;
  border-bottom: 1px solid white;
}

.table__week::-webkit-scrollbar {
  display: block !important;
  height: 3px;
  width: 3px;
  background-color: rgb(18, 2, 10);
}
.table__week::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}

.button-stats{
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #1e1317;
  font-size: 1.7rem;
  padding: 0.4rem 3rem;
  color: white;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}
.button-stats:hover{
 background-color: rgb(0,128,0);
}
.container__buttons_stats{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.container-select-stats{
  display: flex;
  justify-content: center;
  align-items: center;
}
